@section scripts {
    <script src="@Url.Content("~/Scripts/shortURL.js")" type="text/javascript"></script>
    <script type="text/javascript">
        function shortening() {
            requestShortUrl($("#LongUrl").val(), '@Url.Action("ShorterURL", "Home")', '#shorterURLResult', '#output');
        }
    </script>
}
<div class="row" style="padding-top: 30px;">
    <div class="col-md-8">
        <div class="jumbotron">
            <p style="font-weight: bold;">Paste your long URL here:</p>
            <div class="input-group add-on">
                @using (Html.BeginForm("ShortenURL", "Home", FormMethod.Post, new { id = "shortenForm" }))
                {
                    @Html.TextBox("Url", null, new { @class = "form-control input-sm", @placeholder = "Long URL", @name = "Url" })
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-sm" type="submit">Shorten URL</button>
                    </div>
                }
            </div>
            <br />
            <div>All @Request.Url.Authority  URLs and click analytics are public and can be accessed by anyone.</div>
        </div>
    </div>
    <div class="col-md-4 well" id="output" style="display: none;">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight: bold;">Your shorter URL:</div>
            <div class="panel-body">
                <span id="shorterURLResult" style="font-weight: bold; font-size: 16px;"></span>
            </div>
        </div>
    </div>
</div>