@{
    ViewBag.Title = "Url Not Found";
}

<div style="text-align:center;"><img class="img-circle" src="~/Images/mephp.jpg"></div>
<h2>We are sorry to inform you that the short Url link that you provided is invalid.</h2>
